extends layout

block content
  h1(class = "text-center text-dark")= title

  h3(class = "text-center text-secondary") #{positionData.position_title}
  h4(class = "text-center font-italic text-secondary")= positionData.position_description

  div(class = "container")
    h5 Players(s) who play in this Position :
    ul
        each player in playerData 
            li
                a(href=player.url) #{player.player_name} 
                span - #{player.player_team.team_title}

        else 
            p No player data available for this Position.

  hr
  div(class = "container")
    h4(class = "text-center text-dark") Actions Available
    a(href = positionData.url + "/update") 
      button(type = "button" class = "m-2 btn btn-success") Update 
    a(href = positionData.url + "/delete") 
      button(type = "button" class = "m-2 btn btn-danger") Delete 
        