extends layout

block content
  h1(class = "text-center")= title

  h3(class = "text-center") #{teamData.team_title} - #{teamData.team_region}
  h4(class = "text-center font-italic") Motto - #{teamData.team_motto} 

  div(class = "container")
   

    if playerData.length
        h5 Please delete the following players before deleting the team : 
        ul
            each player in playerData 
                li
                    a(href=player.url) #{player.player_name}

    else 
        h5 Are you sure you want to delete this team ?
        form(method="POST")
            div(class="form-group")
                input(class = "form-control" name = "team_id" type="hidden" required = "true" value=teamData._id)        
                button(type="submit" class = "btn btn-danger") Delete
        