extends layout

block content
  h1(class = "text-center")= title

  h3(class = "text-center text-secondary") #{teamData.team_title} - #{teamData.team_region}   
  img(src = teamData.team_image height = "120" width = "150" class = "img-thumbnail rounded mx-auto d-block" alt = "Team Image")  
  h4(class = "text-center text-secondary font-italic m-2") Motto - #{teamData.team_motto} 
  div(class = "container")
   
    if playerData.length
        h5 Please delete the following players before deleting the team : 
        ul
            each player in playerData 
                li
                    a(href=player.url) #{player.player_name}

    else 
        h5 Are you sure you want to delete this team ?
        form(method="POST")
            div(class="form-group")
                input(class = "form-control" name = "team_id" type="hidden" required = "true" value=teamData._id)        
                button(type="submit" class = "btn btn-danger") Delete
        